
Products/bacpoanalysis_allcases_reduction.aux

Products/bacpoanalysis_allcases_reduction.log

Products/bacpoanalysis_allcases_reduction.synctex.gz

Products/bacpoanalysis_allcases_reduction.tex.bak

Products/draft-labor.aux

Products/draft-labor.log

Products/draft-labor.synctex.gz

Products/draft-labor.tex.bak

Products/draft-labor_2.aux

Products/draft-labor_2.log

Products/draft-labor_2.synctex.gz

Products/draft-labor_2_bl.aux

Products/draft-labor_2_bl.log

Products/draft-labor_2_bl.synctex.gz

Products/draft-labor_2_bl.tex.bak

Products/draft-labor_bl.tex.bak

Products/draft-labor_bl.synctex.gz

Products/draft-labor_bl.log

Products/draft-labor_bl.aux
